<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.dao.mapper.CartMapper">

	<!-- resultMap 정의 -->
	<resultMap id= "cartWithMemberAndFoodResultMap" type="com.itwill.shop.domain.Cart" autoMapping="true">
		<result column="CART_NO" property="cartNo"/>
		<result column="CART_QTY" property="cartQty"/>
		<association property="membersNo" javaType="com.itwill.shop.domain.Members" autoMapping="true">
			<result column="MEMBERS_NO" property="members_no"/>
		</association>
		<association property="foodNo" javaType="com.itwill.shop.domain.Food" autoMapping="true">
			<result column="FOOD_NO" property="foodNo"/>
		</association>
		 
	</resultMap>

	<select id="findCartAll" resultMap="cartWithMemberAndFoodResultMap">
		select * from cart
	</select>
	
	<select id="findCartByFoodNo" resultMap="cartWithMemberAndFoodResultMap" parameterType="int">
		select * from cart c join food f on c.food_no=f.food_no where f.food_no=#{foodNo}
	</select>
	
	<select id="findCartByMembersNo" resultMap="cartWithMemberAndFoodResultMap" parameterType="int">
		select * from cart c join members m on c.members_no=m.members_no where m.members_no =#{memberNo}
	</select>
	
	<update id="updateCartByNo" parameterType="com.itwill.shop.domain.Cart" >
		update cart set cart_qty=#{cartQty} where cart_no=#{cartNo} and food_no= #{foodNo}
	</update>
	
	<insert id="insertCart" parameterType="com.itwill.shop.domain.Cart">
		insert into cart(CART_NO, CART_QTY,MEMBERS_NO,FOOD_NO) 
		values(CART_NO_SEQ.nextval,#{cartQty},#{membersNo},#{foodNo})
	</insert>
	
	<delete id="deleteCartByNo" parameterType="int">
		delete from cart where members_no=#{membersNo}
	</delete>

</mapper>